#   ___     _               _         
#  | __|_ _| |_ _ _ _  _ __| |___ _ _ 
#  | _|\ \ /  _| '_| || / _` / -_) '_|
#  |___/_\_\\__|_|  \_,_\__,_\___|_|  
## In E0-MOT Position
[extruder]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
rotation_distance: 22.6789511   # Bondtech 5mm Drive Gears
gear_ratio: 50:17               # BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200    # 200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PB15
sensor_type: Generic 3950
sensor_pin: PC0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.03          # [!] Pressure Advance
pressure_advance_smooth_time: 0.040

## In E0-MOT Position
[tmc2209 extruder]
uart_pin: PD10
interpolate: false
run_current: 0.6
hold_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0